button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.button{
  cursor: pointer;
}

input[type="submit"]{
  background: $color__company-primary;
  border:none;
  border-radius: 100px;
  font-size:1.25em;
  color: #fff;
  padding:20px 45px;
}

.btn-cta{
  background: $color__company-primary;
  width:25%;
  text-align: center;
  color: #fff;
  border-radius: 100px;
  padding:10px 0;
  &.invert{
    background: none;
    border: solid 1px #fff;
  }
}

@media all and (max-width: 576px){
  .btn-cta{
    width:50%;
  }
}