input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color__text-input;
  border-radius: 0;
  padding: 15px;
  border:none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, .025);
  width: 100%;
  outline: none !important;
  &::placeholder{
    opacity: .75;
  }
  &:focus {
    &::placeholder{
      opacity: 1;
    }
    color:$color__company-primary;
    border-bottom: solid 1px $color__company-primary;
  }
}

select {
  border: 1px solid $color__border-input;
}

textarea {
  width: 100%;
}
