footer{
  padding:1.5% 0;
  background: #000;
  color: #fff;
  font-size:.8em;
  a{
    &:link, &:visited{
      color: #fff;
    }
    &:after{
      margin:0 10px;
      content: '|';
    }
    &:last-of-type{
      &:after{
        content: '';
      }
    }
  }
  .sassy-social-wrapper{
    margin:10px 15px 15px 0;
    span{
      display: inline-block;
    }
    .heateor_sss_sharing_container{
      ul{
        display: inline-block;
        margin: 0 !important;
        padding:0 !important;
      }
    }
  }
}

@media all and (max-width: 576px){
  footer{
    text-align: center !important;
    .text-right{
      text-align: center !important;
      padding-top:10px;
    }
  }
}