//slick slider
.slick-slide {
  margin: 0px 20px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: pointer;
  }
}

.slick-slider {
  .slick-track, .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide {
  img {
    display: block;
    margin: 0 auto;
    width:40%;
  }
  &.slick-loading img {
    display: none;
  }
  &.dragging img {
    pointer-events: none;
  }
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}


main{
  section{
    .bullet-wrapper{
      padding:5% 0;
      .bullet-item-left{
        img{
          width:100%;
        }
      }
      .bullet-item-right{
        h2{
          text-transform: uppercase;
        }
        ul{
          margin:20px 0;
          padding:0 15px;
          li{
            list-style: none;
            margin:25px 15px;
            &:before{
              content:'';
              background: url("../img/check.svg");
              background-repeat: no-repeat;
              position: absolute;
              margin-left:10px;
              left:5px;
              margin-top:3px;
              width:20px;
              height:20px;
            }
          }
        }
      }
    }
  }

  section{
    .case-slider-wrapper{
      background: rgba(0, 0, 0, .01);
      padding: 2% 0 2% 0;
      h4{
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom:25px;
      }
    }
  }

  section{
    .subinfo-wrapper{
      background: linear-gradient(to right, rgba(0,0,0,0.55) 0%, rgba(0,0,0,0.45) 100%), url("../img/banner-bg1.jpg");
      background-size: cover;
      background-position: center;
      .subinfo-item{
        padding:12% 0;
        h2{
          margin:0 0 15px 0;
          color: #fff;
        }
        p{
          margin:0 0 25px 0;
          color: #fff;
          line-height: 1.75em;
        }
      }
    }
  }

  section{
    .usp-wrapper{
      padding:10% 0;
      .usp-item{
        padding:0 10px;
        img{
          max-width:100px;
        }
        h3{
          margin:25px 0 15px 0;
        }
        p{
          margin:10px 0;
        }
      }
    }
  }

  section{
    .review-wrapper{
      background: linear-gradient(to right, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%), url("../img/banner-bg2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      #review-carousel{
        padding:12% 0;
        .carousel-inner{
          .carousel-item{
            text-align: center;
            h3{
              color: #fff;
              font-size: 2em;
              padding:25px 0;
              width:70%;
              margin:0 auto;
              &:before{
                content: open-quote;
                font-size: 1.25em;
              }
              &:after{
                content: close-quote;
                font-size: 1.25em;
              }
            }
            p{
              color: #fff;
              font-size: 1.25em;
              margin:15px 0;
              &.reviewer{
                font-size:1em;
              }
            }
            .btn-cta{
              margin:25px auto;
            }
            .score{
              .star{
                content:'';
                width:30px;
                height:30px;
                position: relative;
                display: inline-block;
                &.filled{
                  background: url("../img/icons/star-filled.svg");
                  background-size: cover;
                  background-repeat: no-repeat;
                }
                &.empty{
                  background: url("../img/icons/star-empty.svg");
                  background-size: cover;
                  background-repeat: no-repeat;
                }
              }
            }
          }
        }
      }
    }
  }

  section{
    .contact-wrapper{
      padding:5% 0 3%;
      .contact-item{
        margin-top:50px;
        .contact-info-overlay{
          position: absolute;
          padding:10px 15px;
          background: #fff;
          top:370px;
          left:25px;
          width:auto;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
          p{
            margin:0 0 5px;
          }
          span{
            display: block;
            a{
              &:link, &:visited{
                color: $color__text-main;
              }
            }
          }
        }
      }
    }
  }

  section{
    .facetime-wrapper{
      background: rgba(241, 197, 60, 1);
      padding:2% 0;
      margin:0 0 5%;
      img{
        max-width:100px;
        display: inline-block;
      }
      p{
        color: #fff;
        font-size:1.5em;
        padding-left:20px;
        display: inline-block;
      }
      a{
        &:link, &:visited{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

@media all and (max-width: 768px){
  main {
    section {
      .bullet-wrapper {
        .bullet-item-right {
          margin-top:50px;
        }
      }
    }
  }
}

@media all and (max-width: 576px){
  main {
    section {
      .bullet-wrapper {
        .bullet-item-right {
          .btn-cta{
            width:40%;
          }
        }
      }
    }
    section{
      .usp-wrapper{
        padding:5% 0 10% 0;
        .usp-item{
          margin:25px 0;
        }
      }
    }

    section{
      .review-wrapper{
        #review-carousel{
          .carousel-inner{
            .carousel-item{
              h3{
                font-size: 1.5em;
                margin-top:25px;
                &:before{
                  font-size: 1em;
                }
                &:after{
                  font-size: 1em;
                }
              }
              p{
                font-size: 1em;
              }
            }
          }
        }
      }
    }

    section{
      .contact-wrapper{
        padding:10% 0;
        .contact-item{
          margin:25px 0;
        }
      }
    }
  }
}

