#page{
  overflow-x: hidden !important;
}

header#masthead{
  section{
    .site-branding{
      position: absolute;
      z-index:+1;
      text-align: center;
      padding:25px 0;
      img{
        width:100%;
      }
    }
  }
  section{
    #bs-carousel{
      .carousel-inner{
        .carousel-item{
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-position: center !important;
          height:auto;
          .item-content{
            padding:16% 0;
            h1{
              color: #fff;
              margin:0;
            }
            p{
              color: #fff;
              margin:15px 0;
              font-size:1.25em;
            }
            .slider-cta{
              border: solid 1px #fff;
              border-radius: 100px;
              width:25%;
              text-align: center;
              color: #fff;
              padding:10px 0;
            }
          }
        }
      }
    }
  }
  .header-cta{
    @include transition;
    cursor:pointer;
    position: absolute;
    transform: rotate(5deg);
    display: table;
    height:175px;
    width:175px;
    background: $color__company-primary;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-weight: 600;
    border-radius: 100px;
    text-align: center;
    right:15%;
    bottom:10%;
    padding:0 10px;
    span{
      font-size: 1.75em;
      display:table-cell;
      vertical-align:middle;
    }
    &:hover{
      box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
      background: $color__company-secondary;
    }
  }
}

@media all and (max-width: 992px){
  header#masthead{
    .header-cta{
      width:125px;
      height:125px;
      span{
        font-size: 1.25em;
      }
    }
  }
}

@media all and (max-width: 768px){
  header#masthead{
    .header-cta{
      bottom:3%;
      right:3%;
      span{
        font-size: 1.25em;
      }
    }
    section {
      #bs-carousel {
        .carousel-inner {
          .carousel-item {
            text-align: center;
            .item-content{
              .slider-cta{
                margin:0 auto;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 576px){
  header#masthead{
    .header-cta{
      transform: rotate(0);
      position: relative;
      border-radius: 0;
      width: 100%;
      padding:0;
      right:0;
      bottom:0;
      height:100px;
      margin-bottom:20px;
    }
    section {
      #bs-carousel {
        .carousel-inner {
          .carousel-item {
            .item-content{
              padding:20% 0;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 414px){
  header#masthead{
    section {
      #bs-carousel {
        .carousel-inner {
          .carousel-item {
            .item-content{
              padding:25% 20px;
              .slider-cta{
                width:50%;
              }
            }
          }
        }
      }
    }
  }
}