.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.page {
  &.page-bedankt {
    background: linear-gradient(to right, rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.50) 100%), url("../img/banner-bg1.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    height:92vh;
    article{
      width:75%;
      box-shadow: 0 0 10px rgba(0, 0, 0, .5);
      margin:0 auto;
      padding:15px;
      background: rgba(255, 255, 255, 0.95);
      margin-top:30%;
      header{
        color: $color__company-primary;
      }
      .entry-content{
        margin:0 auto;
        font-size:1.2em;
        a{
          &:link, &:visited{
            color: #fff;
            text-decoration: none;
          }
        }
        .btn-cta{
          padding:10px 20px;
        }
      }
    }
  }
}